.navbar-wrap {
  height: 100px;
  padding: 0 80px;
  line-height: 100px;
  margin-bottom: 100px;
  justify-content: space-between;



  h1 {
    font-size: 36px;
    font-weight: 700;

    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }

  div.menu {
    @media only screen and (max-width: 600px) {
      height: 568px;
      width: 320px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  ul {
    padding: 0;

    li {
      font-size: 20px;
      font-weight: 100;
      margin-left: 50px;
      display: inline-block;
      margin: 0;

      @media only screen and (max-width: 600px) {
        list-style: none;
        top: 50px;
        left: 0;
        opacity: 1;
        width: 320px;
        text-align: center;
        font-size: 20px;
        -webkit-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -moz-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -o-transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        transition: all 70ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
      }

      a {
        &:hover {
          color: #303030;
          font-weight: 300;

          @media only screen and (max-width: 600px) {
            color: #303030;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 3px;
          }
        }
      }
    }
  }
}

.burger {
  @media only screen and (max-width: 600px) {
    height: 90px;
    width: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 40px;
    cursor: pointer;

  }

  .x,
  .y,
  .z {
    @media only screen and (max-width: 600px) {
      position: absolute;
      margin: auto;
      top: 0px;
      height: 3px;
      width: 26px;
      bottom: 0px;
      background: black;
      border-radius: 2px;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
    }

  }

  .y {
    top: 18px;
  }

  .z {
    top: 37px;
  }

  .collapse {
    top: 20px;
    background: black;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
  }

  // Rotate Collapse class X
  .rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }

  .rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }

  // Rotate Collapse Class Z 
  .rotate125 {
    -ms-transform: rotate(125deg);
    -webkit-transform: rotate(125deg);
    transform: rotate(125deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }

  .rotate140 {
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }

}