.row-about {
  padding: 0 80px;

  @media only screen and (max-width: 600px) {
    padding: 0 40px;
  }

  .desc {
    font-weight: 300;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    vertical-align: top;
    color: #E5E5E5;

    @media only screen and (max-width: 600px) {
      font-size: 12px;
      line-height: 20px;
      text-align: justify;
      text-indent: 40px;
      margin-bottom: 20px;
    }
  }
}