.desc {
  font-weight: 300;
  line-height: 30px;
  font-size: 22px;
  text-align: center;
  vertical-align: top;
  color: #E5E5E5;
}

.transform-bg {
  top: -80px;
  width: 100%;
  left: -125px;
  height: 700px;
  width: 1550px;
  height: 700px;
  position: absolute;
  transform: rotate(-6deg);
  background-color: #303030;
}