.title-contact {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-left: 75px;
  padding-top: 80px;
  margin-right: 832px;
}

.content-contact {
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-right: 196px;
  margin-left: 75px;
  margin-top: 70px;
}

.contact-form p {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.input-text {
  margin-right: 85px;
  box-sizing: border-box;
  border: 1px solid;
  margin-bottom: 10px;
  border-radius: 4px;
}

.input-text input,
textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  padding: 4px;
}

.btn {
  display: inline-block;
  padding: 14px 0;
  color: white;
  background-color: #303030;
  width: 88%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 15px;
}