.wrap-landing {
  overflow: hidden;
  .section-wrap {
    position: relative;
    margin: 200px 0;
    .section-title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 90px;
      text-align: center;
      position: relative;
      display: inline-block;
      /* Move the element to the right by 50% of the container's width */
      left: 50%; 
      /* Calculates 50% of the element's width, and moves it by that */ 
      /* amount across the X-axis to the left */
      transform: translateX(-50%);
    }
  }
}
